{% extends 'base.html' %}
{% load static %}

{% block contenido %}
    <body class="body">
    <br>
    <button id="desplegarFormularios">Mostrar opciones</button>
    <div id="formularios" style="display: none;">


    <form id="registrationForm" action="#" method="post">
        {% csrf_token %}
        <br>
            <button type="submit" id="AgregarRegistroButton">Agregar Registro</button>
      <script>
        document.getElementById('registrationForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from being submitted

            // Use JavaScript to set the form's action attribute dynamically
            var registroNuevoUrl = '{% url "registroNuevo" %}';
            document.getElementById('registrationForm').setAttribute('action', registroNuevoUrl);

            // Submit the form after setting the action
            this.submit();
        });
      </script>
    </form>

    <form id="jugadorForm" action="#" method="post">

        {% csrf_token %}
        <br>
            <button type="submit" id="AgregarJugadorButton">Agregar Jugador</button>
      <script>
        document.getElementById('jugadorForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from being submitted

            // Use JavaScript to set the form's action attribute dynamically
            var jugadorNuevoUrl = '{% url "jugadorNuevo" %}';
            document.getElementById('jugadorForm').setAttribute('action', jugadorNuevoUrl);

            // Submit the form after setting the action
            this.submit();
        });
      </script>
    <form id="inscripcionForm" action="#" method="post" >

        {% csrf_token %}
       <br>
        <br>
            <button type="submit" id="AgregarInscripcionButton">Agregar Inscripcion</button>
      <script>
        document.getElementById('inscripcionForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from being submitted

            // Use JavaScript to set the form's action attribute dynamically
            var inscripcionNuevaUrl = '{% url "inscripcionNueva" %}';
            document.getElementById('inscripcionForm').setAttribute('action', inscripcionNuevaUrl);

            // Submit the form after setting the action
            this.submit();
        });
      </script>
    </form>
    <form id="equipoForm" action="#" method="post">
        {% csrf_token %}
        <br>
            <button type="submit" id="AgregarEquipoButton">Agregar Equipo</button>
      <script>
        document.getElementById('equipoForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from being submitted

            // Use JavaScript to set the form's action attribute dynamically
            var equipoNuevoUrl = '{% url "equipoNuevo" %}';
            document.getElementById('equipoForm').setAttribute('action', equipoNuevoUrl);

            // Submit the form after setting the action
            this.submit();
        });
      </script>

    </form>
    <form id="partidoForm" action="#" method="post">
        {% csrf_token %}
        <br>
            <button type="submit" id="AgregarPartidoButton">Agregar Partido</button>
      <script>
        document.getElementById('partidoForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from being submitted

            // Use JavaScript to set the form's action attribute dynamically
            var partidoNuevoUrl = '{% url "partidoNuevo" %}';
            document.getElementById('partidoForm').setAttribute('action', partidoNuevoUrl);

            // Submit the form after setting the action
            this.submit();
        });
      </script>
    </form>
    <form id="marcadorForm" action="#" method="post">
        {% csrf_token %}
         <br>
            <button type="submit" id="AgregarMarcadorButton">Agregar Marcador</button>
      <script>
        document.getElementById('marcadorForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from being submitted

            // Use JavaScript to set the form's action attribute dynamically
            var marcadorNuevoUrl = '{% url "marcadorNuevo" %}';
            document.getElementById('marcadorForm').setAttribute('action', marcadorNuevoUrl);

            // Submit the form after setting the action
            this.submit();
        });
      </script>
    </form>
    <form id="temporadaForm" action="#" method="post">
        {% csrf_token %}
        <br>
            <button type="submit" id="AgregarTemporadaButton">Agregar Temporada</button>
      <script>
        document.getElementById('temporadaForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from being submitted

            // Use JavaScript to set the form's action attribute dynamically
            var temporadaNuevaUrl = '{% url "temporadaNueva" %}';
            document.getElementById('temporadaForm').setAttribute('action', temporadaNuevaUrl);

            // Submit the form after setting the action
            this.submit();
        });
      </script>
    </form>
    <form id="reglamentoForm" action="#" method="post">
        {% csrf_token %}
        <br>
            <button type="submit" id="AgregarReglamentoButton">Agregar Reglamento</button>
      <script>
        document.getElementById('reglamentoForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from being submitted

            // Use JavaScript to set the form's action attribute dynamically
            var reglamentoNuevoUrl = '{% url "reglamentoNuevo" %}';
            document.getElementById('reglamentoForm').setAttribute('action', reglamentoNuevoUrl);

            // Submit the form after setting the action
            this.submit();
        });
      </script>
    </form>
    <form id="reglaForm" action="#" method="post">
        {% csrf_token %}
        <br>
            <button type="submit" id="AgregarReglaButton">Agregar Regla</button>
      <script>
        document.getElementById('reglaForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from being submitted

            // Use JavaScript to set the form's action attribute dynamically
            var reglaNuevaUrl = '{% url "reglaNueva" %}';
            document.getElementById('reglaForm').setAttribute('action', reglaNuevaUrl);

            // Submit the form after setting the action
            this.submit();
        });
      </script>
    </form>
    </div>
     <script>
            document.getElementById('desplegarFormularios').addEventListener('click', function() {
                var formulariosDiv = document.getElementById('formularios');

                if (formulariosDiv.style.display === 'none') {
                    formulariosDiv.style.display = 'block';
                } else {
                    formulariosDiv.style.display = 'none';
                }
            });
        </script>


    <style>

            #desplegarFormularios {
                background-color: #3498db;
                color: white;
                padding: 10px 20px;
                border: none;
                cursor: pointer;
            }

            /* Estilo para el div que contiene los formularios */
            #formularios {
                margin-top: 20px;
                padding: 20px;
                border: 1px solid #ccc;
                background-color: blanchedalmond;
                display: none; /* Comienza oculto */
            }

    </style>
    </body>
{% endblock %}