{% extends 'base.html' %}
{% block title %}
    {{ titulo }}
{% endblock %}

{% block contenido %}
    <body class="body">
    <h1>{{ contenido1 }}</h1>
    <h1>Jugador</h1>
    <form id="registrationForm" action="#" method="post">
    {% csrf_token %}
    <div id="playersContainer">
      <div class="player">

        <label for="numeroCamiseta">Número de camiseta:</label>
        <input type="number" id="numeroCamiseta" name="numeroCamiseta" required min="0">

        <label for="posicion">Posición:</label>
        <input type="text" id="posicion" name="posicion">
      </div>
    </div>

    <button type="submit" id="JugadorButton">Agregar Jugador</button>
    <script>
        document.getElementById('registrationForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from being submitted

            // Use JavaScript to set the form's action attribute dynamically
            var inscripcionUrl = '{% url "Inscripcion" %}';
            document.getElementById('registrationForm').setAttribute('action', inscripcionUrl);

            // Submit the form after setting the action
            this.submit();
        });
      </script>

    </form>

    </body>
{% endblock %}
```