{% extends 'base.html' %}

{% block title %}
    {{ titulo }}
{% endblock %}

{% block contenido %}
    <body>
    <h1>{{ contenido1 }}</h1>
    <h1>Partido</h1>
    <form id="registrationForm"  action="#" method="post">
         {% csrf_token %}

    <div id="playersContainer">
      <div class="player">
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha">

        <label for="hora">Hora:</label>
        <input type="time" id="hora" name="hora">

        <label for="numeroEncuentro">Número de Encuentro:</label>
        <input type="number" id="numeroEncuentro" name="numeroEncuentro" required min="0">

        <label for="estadoPartido">Estado de Partido:</label>
        <select id="estadoPartido" name="estadoPartido[]">
          <option>Finalizado</option>
          <option>Aplazado</option>
          <option>Suspendido</option>
          <option>Iniciado</option>
          <option>Entretiempo</option>
        </select>
      </div>
    </div>

    <button type="button" id="MarcadorButton">Agregar Marcador</button>
    <script>
        document.getElementById('registrationForm').addEventListener('dblclick', function(event) {
            event.preventDefault(); // Prevent the form from being submitted

            // Use JavaScript to set the form's action attribute dynamically
            var marcadorUrl = '{% url "Marcador" %}';
            document.getElementById('registrationForm').setAttribute('action', marcadorUrl);

            // Submit the form after setting the action
            this.submit();
        });
     </script>

     <br>
     <button type="submit" id="PartidoButton">Agregar Partido</button>
     <script>
        document.getElementById('registrationForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from being submitted

            // Use JavaScript to set the form's action attribute dynamically
            var grupoUrl = '{% url "Grupo" %}';
            document.getElementById('registrationForm').setAttribute('action', grupoUrl);

            // Submit the form after setting the action
            this.submit();
        });
     </script>
    </form>
    </body>
{% endblock %}