{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block contenido %}
    <script>
        function confirmarEliminacion() {
            var respuesta = confirm("¿Desea eliminar este jugador?");
            if (respuesta) {
                document.getElementById('delete-form').submit();
            }
        }
    </script>
     {% for Registro in registro_list %}
         <form id="delete-form" method="post" action="{% url 'eliminar_registro' id=Registro.id %}">
        {% csrf_token %}
        <button type="button" class="btn btn-danger" onclick="confirmarEliminacion()">Eliminar</button>
        <a href="{% url 'registroNuevo' %}" class="btn btn-secondary">Cancelar</a>
    </form>
        <h1>Eliminar Registro</h1>
        <p>¿Está seguro de eliminar el registro de {{ Registro.nombre }} {{ Registro.apellido }}?</p>
    {% endfor %}

{% endblock %}
