/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

/* Encabezado */
header {
  background-color: #293241;
  color: #e0fbfc;
  padding: 10px 0;
}

.navbar-brand {
  font-weight: bold;
  color: white;
}

.navbar-nav .nav-link {
  color: white;
}

/* Contenido principal */
.main-content {
  padding: 20px;
  max-width: 39rem;
}

/* Noticias destacadas */
.featured-news {
  text-align: center;
  margin-bottom: 30px;
}

.carousel-inner img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

/* Equipos destacados */
.teams {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

/* Tabla de equipos */
.table th, .table td {
  vertical-align: middle;
}

/* Marcadores en vivo */
.live-scores {
  padding: 20px;
  background-color: #e0fbfc;
  border-radius: 5px;
  margin-top: 20px;
}

/* Pie de página */
footer {
  background-color: #293241;
  color: #e0fbfc;
  text-align: center;
  padding: 10px 0;
}

/* Estilos personalizados */
/* Agrega tus estilos personalizados aquí */

/* Responsividad */
@media (max-width: 768px) {
  .navbar-nav {
    margin-top: 10px;
  }
}

/* estilos.css */

/* Estilos para la sección de video */
.video-section {
    margin-left: 20px; /* Agrega un margen entre la sección de Noticias y el video */
    width: 50%; /* Ajusta el ancho de la sección de video */
}

/* Limpieza de flotación después de las secciones */
.main-content::after {
    content: "";
    display: table;
    clear: both;
}
.custom-nav-item {
  margin-right: 180px; /* Ajusta este valor según tus preferencias */
}
