/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h2 {
    margin: 0 0 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  /* Estilos para la sección de partidos */
  .matches li {
    margin-bottom: 10px;
  }
  
  
  /* Estilos para la sección de equipos */
  .teams li {
    display: inline-block;
    margin-right: 20px;
  }
  
 
  