/* Estilos para el cuerpo de la página */
.body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    margin: 20px;
    padding: 20px;
}

/* Estilos para el encabezado (h1) */
h1 {
    color: #0066cc;
}

/* Estilos para el párrafo (p) */
p {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

/* Estilos para el enlace (a) */
a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.imagen {
    width: 100%;
    padding: 10px;
    border-radius: 100px;

}
